/* DisplayOptionsDropdown.css */

/* Dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropdown-button {
    padding: 5px;
 /* Set a minimum width for the buttons */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Vertically center content */
  }
  
  .dropdown-button-title{
    margin: 5px;
  }
  /* Dropdown content */
  .dropdown-content {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    width: 160px; /* Adjust the width as needed */
  }
  
  /* Filter options */
  .filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Filter names */
  .filter-name {
    font-weight: bold;
    margin-right: 10px;
    flex: 1; /* Allow filter names to take available space */
  }
  
  /* Custom select styles */
  .custom-select {
    position: relative;
    flex: 1; /* Allow select dropdown to take available space */
  }
  
  .custom-select select {
    appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    font-size: 14px;
    width: 85px; /* Fill the entire width of the container */
  }
  
  .custom-select select:focus {
    outline: none;
  }
  
  /* Custom select arrow */
  .custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%; /* Position the arrow vertically centered */
    right: 10px;
    transform: translateY(-50%); /* Adjust arrow position */
    pointer-events: none;
    font-size: 16px;
  }
  
  